In [4]:
import pandas as pd

Here we go!

In [12]:
fruits = pd.DataFrame({'Apples': [35, 41], 'Bananas': [21, 34]})
fruits

   Apples  Bananas
0      35       21
1      41       34

In [13]:
fruits_data = {
    "Apples" :[35],
    "Bananas" :[21]
}
pd.DataFrame(fruits_data)

   Apples  Bananas
0      35       21

In [16]:
fruits_sales = pd.DataFrame({
    "Apples": [35, 41],
    "Bananas": [21, 34]},
    index = ["2017 Sales", "2018 Sales"])

fruits_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [17]:
fruits_sales.to_csv("fruit.csv", sep='*', encoding="utf-8", index=True)